@using System.Reflection
@using WebApp.Abstract
@using WebApp.Client.Layout.Admin
@using WebApp.Client.Layout.Customer
@inject ILoadAssemlyBlazor Load ;
@inject NavigationManager _navigationManager
@if (OperatingSystem.IsBrowser())
{
	<p>Đây là Blazor WebAssembly (client-side)</p>
}
else
{
	<p>Đây là Blazor Server (server-side)</p>
}
<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="AdditionalAssemblies">
	<Found Context="routeData">
		<RouteView RouteData="routeData" DefaultLayout="SelectLayout()" />
		<FocusOnNavigate RouteData="routeData" Selector="h1" />
	</Found>
	<NotFound>
		<h1>Sorry, there's nothing at this address.</h1>
	</NotFound>
</Router>
@code {
	List<Assembly> AdditionalAssemblies = new();

	protected override void OnInitialized()
	{
		var Temp = Load.LoadAllAssembly();
		AdditionalAssemblies.AddRange(Temp);
	}
	private Type SelectLayout()
	{
		var path = _navigationManager.Uri.Replace(_navigationManager.BaseUri, "").ToLower();

		if (path.StartsWith("admin"))
		{
			return typeof(MainLayoutAdmin);
		}
		return typeof(MainLayout);
	}
}