<footer id="footer" data-aos="fade-up">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>ĐĂNG KÝ NHẬN TƯ VẤN</h4>
                    <p>Hãy để lại số điện thoại cho chúng tôi</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg" data-aos="fade-up">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li>
                            CÔNG TY TNHH TM CÔNG NGHỆ MACVN
                        </li>
                        <li>(+84) 0879 90 90 90</li>
                        <li>436B/50 Đường 3/2, Phường 12 Quận 10, TP.HCM</li>
                        <li>macvn.com.vn@gmail.com</li>
                        <li>GPKD số 0316180422 cấp ngày 04/03/2020 tại Sở Kế hoạch và Đầu tư HCM</li>
                    </ul>

                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg">
                    <h4>Chính sách bảo hành</h4>
                    <ul>
                        <li>Chính sách bảo mật</li>
                        <li>Quy định chung</li>
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách giao hàng</li>
                        <li>Chính sách đổi, trả hàng</li>
                        <li>Chính sách trả góp</li>
                        <li>Chính sách thanh toán</li>
                    </ul>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg">
                    <h4>Điều hướng</h4>
                    <ul>
                        <li>Dịch vụ</li>
                        <li>Giới thiệu</li>
                        <li>Tin tức</li>
                        <li>Liên hệ</li>
                    </ul>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg">
                    <h4>Hỗ trợ</h4>
                   <ul>
                        <li>Quẹt thẻ/Trả góp</li>
                        <li>Cài đặt phần mềm</li>
                        <li>Phục hồi dữ liệu</li>
                        <li>Hướng dẫn thanh toán VNPAY</li>
                   </ul>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg">
                    <p>Macvn là đơn vị mua bán chuyên nghiệp các dòng sản phẩm máy tính của Apple.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Lenox</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://www.facebook.com/AVuDeveloper0708"><strong><span style="color:white">XXX</span></strong></a>
        </div>
    </div>
</footer><!-- End Footer -->